<app-topnav 
    (toggleSidebar)="sidenav.toggle()"
    (onThemeChangeEvent)="onThemeChange($event.toString())"
></app-topnav>
<mat-sidenav-container autosize>
    <mat-sidenav #sidenav id="sidebarArea"
        mode="side"
        opened="{{ sidenavOpened }}"
        class="sidebar"
        [style.width]="sidebarWidth"
    >
        <app-sidebar (toggleSidebar)="sidenav.toggle()"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
