// Default colors
$default-primary:   mat.define-palette(mat.$teal-palette, 700, 100, 800);
$default-accent:    mat.define-palette(mat.$teal-palette, 700, 100, 800);

$default-theme: mat.define-light-theme((
    color: (
        primary: $default-primary,
        accent: $default-accent,
    )
));

.default-theme {
    @include mat.all-component-themes($default-theme);
}

// Class to use when specifying colors individually
.default-theme-color {
    background-color : mat.get-color-from-palette(mat.$light-theme-background-palette, background)!important;
    color: mat.get-color-from-palette(mat.$light-theme-foreground-palette, text)!important;
}

.default-theme-primary {
    background-color : mat.get-color-from-palette($default-primary, default)!important;
    color: white!important;
}

.default-theme-spinner {
    // background-color : mat-color($default-background-palette, background, .28)!important;
    color: mat.get-color-from-palette($default-primary, default);
}
