<h4 class="title">{{ 'user.title' | translate }}</h4>
<div class="form-group">
  <div class="form-row">
    <div class="space-between-area">
      <app-search-condition
        [searchConditionName]="'userMng'"
        [items]="searchItems"
        [method]="searchMethod"
      ></app-search-condition>
      <div>
        <button mat-raised-button color="primary" (click)="regUser(null)" *ngIf="user.authCheck(11)">{{ 'user.register' | translate }}</button>
        <button mat-icon-button [matMenuTriggerFor]="gridMenu">
          <mat-icon>list_alt</mat-icon>
        </button>
        <mat-menu #gridMenu="matMenu">
          <button mat-menu-item (click)="simpleGrid.downloadCSV()">
            <mat-icon>download</mat-icon>
            <span>{{ 'downloadCsv' | translate }}</span>
          </button>
          <button mat-menu-item (click)="simpleGrid.clearSetting()">
            <mat-icon>clear</mat-icon>
            <span>{{ 'clearGridSetting' | translate }}</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>

<div class="grid-area">
  <app-simple-grid
    [gridName]="'userMng'"
    [columnDefine]="columnDefine"
    [dataSource]="dataSource"
  >
  </app-simple-grid>
</div>
