.title {
  border-bottom: solid 1px grey;
  color: black;
}

.space-between-area {
  width: 100%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }
  button {
    margin: 3px;
  }
}

.grid-area {
  height: calc(100% - 100px);
  overflow-y: scroll;
}