.title {
  border-bottom: solid 1px grey;
  color: black;
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-size: calc(1.275rem + .3vw);
}

.space-between-area {
  width: 100%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }
  button {
    margin: 3px;
  }
}

.grid-area {
  height: calc(100% - 120px);
  overflow-y: scroll;
}